<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431860139279-2ugtqa0isg196q3jmd73h6epeak2voik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431860139279-2ugtqa0isg196q3jmd73h6epeak2voik</string>
	<key>API_KEY</key>
	<string>AIzaSyDfSQuvEUHfdE7OWzXoeynmiTI70hle62s</string>
	<key>GCM_SENDER_ID</key>
	<string>431860139279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instaCLone.instaCLone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-25ac9</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-25ac9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431860139279:ios:e058af94fe533ce692ea7a</string>
</dict>
</plist>